.page__admin__submissions__modules {
  .card {
    height: 100%;

    &.optional {
      border-style: dashed;
    }

    .card-content {
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .card-footer {
      border-color: transparent;

      .button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 3rem;
      }
    }
  }
}
