<div class="page__landing">
    <section class="hero is-large is-brand">
        <div class="container">
            <div class="hero-body">
                <h1 class="title is-1">Log in link sent!</h1>
                <p>Your single-use log in link has been sent to <strong>{{email}}</strong>! Please click the link in the email from the same device that you want to log in on.</p>
            </div>
        </div>
    </section>
</div>