{{#extend "title"}}
    Log In
{{/extend}}
{{#notEq env "development"}}
    <!-- no hCaptcha during dev -->
    {{#extend "header-scripts"}}
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
    {{/extend}}
{{/notEq}}
<div class="page__login">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title mb-2">
                <ion-icon name="flash-outline"></ion-icon>
                <span class="header-text">Log In to Tech Roulette</span>
            </h1>
            <div class="form-wrapper mt-5">
                {{>landing/signup button="Log In"}}
            </div>
            <p class="help">We'll create an account for you if an account with that email address does not exist.</p>
        <p class="mt-5 has-text-weight-bold">Alternatively, <a href="/auth/code">log in with a code »</a></p>
        </div>
    </section>
</div>
