{{#extend "title"}}
    Link Sent
{{/extend}}
<div class="page__pending">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">
                <ion-icon name="mail-unread-outline"></ion-icon>
                <span class="header-text">Log in link sent!</span>
            </h1>
            <p class="backup-link">Your single-use log in link has been sent to <strong>{{email}}</strong>! Please check your email on this device and click the button in the email to log in.</p>
            <p class="mt-2">Need help? Email <a href="mailto:hi@techroulette.xyz" target="_blank">hi@techroulette.xyz</a> or message us in <a class="is-discord">#support</a> on Discord.</p>
        </div>
    </section>
</div>
