{{#extend "title"}}
    Login Verified
{{/extend}}
<div class="page__verified">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">
                <ion-icon name="shield-checkmark-outline" size="large"></ion-icon>
                <span>Login Verified!</span>
            </h1>
            <p><strong>You can now return to your original browser tab (where you started).</strong> You may safely close this window.</p>
            <p class="mt-2">If it didn't work, you can <a href="/auth/login?token={{token}}">click here</a> to sign in on this device only.</p>
            {{> shorts/need-help}}
        </div>
    </section>
</div>
