span.chip {
  display: inline;
  vertical-align: middle;
  margin: 0 2px;

  img {
    width: 25px !important;
    height: 25px !important;
    border-radius: 100%;
    box-shadow: 0 0 3px $secondary;
  }
}
