.navbar {
  padding: 8px 0;

  .container {
    .navbar-item {
      text-decoration: none;

      &.chip {

        & > strong {
          margin-right: 6px;
        }

        & > span {
          margin-bottom: -5px;
        }
      }

      &.live-banner {
        font-weight: bold;
        color: $danger;

        span.blinker {
          margin-right: 5px;
          animation: blinker 1s ease infinite;

          @keyframes blinker {
            50% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
