.pill {
    white-space: nowrap;
    width: auto;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    padding: 1px 20px 4px 20px;
    border-radius: 16px;
    background: white;
    margin-bottom: 1rem;
    border: $secondary 2px solid;
  
    &:hover {
      opacity: .8;
    }
  
    .pill-category {
      text-transform: uppercase;
      margin-right: 3px;
      font-size: 11px;
      background-color: $secondary;
    }
  
    .pill-text {
      font-size: 12px;
      font-weight: bold;
      color: $secondary;
    }
  }
