.project {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: white;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(black, 0.25);

  overflow: hidden;
  border-radius: 20px;

  box-sizing: border-box;
  padding: 1.5rem;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:hover > &__overlay--1 {
    background: linear-gradient(to top, darken($primary, 40%), transparent 60%);
  }

  &.card {
    background: none;
  }

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay--1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent 60%);
  }

  & > h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  & > p {
    min-height: 100px;
    margin-bottom: 24px;
  }

  span {
    display: flex;

    font-size: 0.9rem;
    font-weight: bold;

    *:first-child {
      margin-right: auto;
    }
  }
}

.project-mini {
  position: relative;

  display: flex;
  flex-direction: column;

  color: white;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(black, 0.25);

  overflow: hidden;
  border-radius: 20px;

  box-sizing: border-box;
  padding: 1.5rem;

  min-height: 250px;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:hover > .project__overlay--1 {
    background: rgba($primary, 0.4);
  }

  .project__overlay--1 {
    background: rgba($primary, 0.2);
  }

  &.card {
    background: none;
  }

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  & > h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}