.spinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: $primary;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
}
