a {
  &:hover {
    text-decoration: underline;
  }
}

.is-discord {
  border-radius: 3px;
  padding: 0 2px;
  color: #505cdc;
  background-color: #5865f226;
  transition: background-color 50ms ease-out, color 50ms ease-out;

  &:hover {
    color: #fff;
    background-color: #5865f2;
    text-decoration: none;
  }
}

sup {
  font-size: 10px !important;
}

p {
  em {
    font-weight: bold;
    font-style: normal;
    color: $primary;
  }
}

span.badge_code {
  font-weight: bold;
  background: linear-gradient(45deg, $primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code {
  border-radius: 3px;
}
