{{#extend "title"}}
    404
{{/extend}}

<div class="page__404">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title has-text-primary">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span class="header-text">404 - Not Found</span>
            </h1>

            <p><strong>Whoops!</strong> We couldn't find that page for you. <a href="/">Head back to homepage?</a></p>

            <p class="mt-2">Need help? Email <a href="mailto:hi@techroulette.xyz" target="_blank">hi@techroulette.xyz</a> or message us in <a class="is-discord">#support</a> on Discord.</p>
        </div>
    </section>
</div>
