{{#extend "title"}}
    500
{{/extend}}

<div class="page__500">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title has-text-danger">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span class="header-text">500 - Server Issue</span>
            </h1>

            <p><strong>Whoops!</strong> Our server has encountered an unexpected error: <a class="is-discord">{{id}}</a></p>

            <p class="mt-2">If this issue persists, please notify us at <a href="mailto:hi@techroulette.xyz" target="_blank">hi@techroulette.xyz</a>, and include the error ID in your message.</p>
        </div>
    </section>
</div>
