{{#extend "title"}}
    No Access
{{/extend}}

<div class="page__banned">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title has-text-danger">
                <ion-icon name="ban-outline"></ion-icon>
                <span class="header-text">No Access - Account Banned</span>
            </h1>

            <p><strong>Whoops!</strong> Your account has been banned from participating in <strong class="has-text-primary">Tech Roulette.</strong></p>

            <p class="mt-2">If you believe this was done in error, or would like to appeal your ban, please contact us at <a href="mailto:hi@techroulette.xyz" target="_blank">hi@techroulette.xyz.</a></p>
        </div>
    </section>
</div>
