{{#extend "title"}}
    Chill Zone
{{/extend}}
<div class="page__chill">
    <section class="section header">
        <div class="container">
            <h1 class="title is-1">Chill Zone 🏖</h1>
            <p>
                Sup, welcome to Chill Zone. There are no apocalyptic events that require your immediate attention right now, so we brought you here.
                You should relax and enjoy the summer with us.
            </p>
        </div>
    </section>
    <section class="section activities pt-0">
        <div class="container">
            <div class="columns">
                {{#if user.discord_id}}
                    <div class="column">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-header-title">
                                    <ion-icon name="logo-discord"></ion-icon><span>Keep an Eye on Discord!</span>
                                </h1>
                            </div>
                            <div class="card-content">
                                <p><strong>We'll be posting important updates about Tech Roulette on Discord!</strong></p>
                                <p class="mt-2">
                                    Join in on the conversations happening right now in our Discord server! Even better, you can suggest
                                    cool features for Tech Roulette and the Discord server to make your experience better. 
                                </p>
                                <a href="https://discord.com/channels/856266812605988915" target="_blank" rel="noopener" class="button mt-5 is-primary">
                                    <ion-icon name="chatbox-ellipses"></ion-icon><span>Head to Discord</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="column">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-header-title">
                                    <ion-icon name="logo-discord"></ion-icon><span>Link Your Discord Account!</span>
                                </h1>
                            </div>
                            <div class="card-content">
                                <p><strong>You haven't linked your Discord account yet!</strong></p>
                                <p class="mt-2">Link your Discord account now to receive a special badge, get access to
                                    a Discord community of Tech Roulette players, staff members, and mentors, and participate in fun community events!
                                </p>
                                <a href="/account/discord" class="button mt-5 is-primary">
                                    <ion-icon name="link-outline"></ion-icon><span>Link Your Account Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-header-title">
                                <ion-icon name="logo-youtube"></ion-icon><span>Missed the Opening Night Stream?</span>
                            </h1>
                        </div>
                        <div class="card-content">
                            <p><strong>You can watch the full event replay on YouTube! </strong></p>
                            <p class="mt-2">Learn more about the rules and procedures of Tech Roulette,
                                see a cool demo of the interface, and hear some frequently asked questions answered.
                            </p>
                            <a href="https://youtu.be/sMzBPciPNX4" class="button mt-5 is-primary" target="_blank" rel="noopener">
                                <ion-icon name="play"></ion-icon><span>Watch the Event</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column spotify is-one-third">
                    <iframe class="card" src="https://open.spotify.com/embed/album/1KlU96Hw9nlvqpBPlSqcTV" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                {{!-- enable this chunk after program starts
                <div class="column is-two-third">
                    <h1 class="title is-5"><ion-icon name="trophy-outline"></ion-icon><span>Get Some Extra Rewards</span></h1>
                </div>
                --}}
                {{!-- This block is for pre-program --}}
                <div class="column is-two-third">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-header-title">
                                <ion-icon name="hourglass-outline"></ion-icon><span>Week 1 Project Release</span>
                            </h1>
                        </div>
                        <div class="card-content">
                            <p class="title is-2 countdown">
                                <span class="days"></span> Days,
                                <span class="hours"></span> Hours,<br />
                                <span class="minutes"></span> Minutes,
                                <span class="seconds"></span> Seconds<br />
                            </p>
                            <p style="font-weight: bold">Saturday, July 3, 2021 - 8:00 PM Eastern Time (GMT-4)</p>
                            <p class="mt-2">
                                Welcome to Tech Roulette! Your Week 1 projects will be ready for selection on Saturday.
                                You'll get an email by then with a link to select your project of the week. See you then!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{#extend "scripts"}}
    <script nonce="{{@root/nonce}}">
        const programStarts = new Date("Sat, 3 Jul 2021 20:00:00 -0400")

        const getTimeRemaining = (endtime) => {
            const total = Date.parse(endtime) - Date.parse(new Date());
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            const days = Math.floor(total / (1000 * 60 * 60 * 24));

            return {
                total,
                days,
                hours,
                minutes,
                seconds
            };
        }

        function initializeClock(endtime) {
            let clock = document.querySelector('.countdown');
            let daysSpan = clock.querySelector('.days');
            let hoursSpan = clock.querySelector('.hours');
            let minutesSpan = clock.querySelector('.minutes');
            let secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                let t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            let timeinterval = setInterval(updateClock, 1000);
        }
        initializeClock(programStarts);
    </script>
{{/extend}}
