{{#extend "title"}}
    Chill Zone
{{/extend}}
<div class="page__chill">
    <section class="section header">
        <div class="container">
            <h1 class="title is-1">Chill Zone 🏖</h1>
            <p>
                Sup, welcome to Chill Zone. There are no apocalyptic events that require your immediate attention right now, so we brought you here.
                You should relax and enjoy the summer with us.
            </p>
        </div>
    </section>
    <section class="section activities pt-0">
        <div class="container">
            <div class="columns">
                <div class="column spotify is-one-third">
                    <iframe class="card" src="https://open.spotify.com/embed/album/1KlU96Hw9nlvqpBPlSqcTV" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                {{!-- enable this chunk after program starts
                <div class="column is-two-third">
                    <h1 class="title is-5"><ion-icon name="trophy-outline"></ion-icon><span>Get Some Extra Rewards</span></h1>
                </div>
                --}}
                {{!-- This block is for pre-program --}}
                <div class="column is-two-third">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-header-title">
                                <ion-icon name="hourglass-outline"></ion-icon><span>Week 1 Project Release</span>
                            </h1>
                        </div>
                        <div class="card-content">
                            <p class="title is-2 countdown">
                                <span class="days"></span> Days,
                                <span class="hours"></span> Hours,<br />
                                <span class="minutes"></span> Minutes,
                                <span class="seconds"></span> Seconds<br />
                            </p>
                            <p style="font-weight: bold">Saturday, July 3, 2021 - 8:00 PM Eastern Time (GMT-4)</p>
                            <p class="mt-2">
                                Welcome to Tech Roulette! Your Week 1 projects will be ready for selection on Saturday. 
                                You'll get an email by then with a link to select your project of the week. See you then!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{#extend "scripts"}}
    <script nonce="{{@root/nonce}}">
        const programStarts = new Date("Sat, 3 Jul 2021 20:00:00 -0400")

        const getTimeRemaining = (endtime) => {
            const total = Date.parse(endtime) - Date.parse(new Date());
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            const days = Math.floor(total / (1000 * 60 * 60 * 24));

            return {
                total,
                days,
                hours,
                minutes,
                seconds
            };
        }

        function initializeClock(endtime) {
            let clock = document.querySelector('.countdown');
            let daysSpan = clock.querySelector('.days');
            let hoursSpan = clock.querySelector('.hours');
            let minutesSpan = clock.querySelector('.minutes');
            let secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                let t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            let timeinterval = setInterval(updateClock, 1000);
        }
        initializeClock(programStarts);
    </script>
{{/extend}}
