<section class="hero">
  <div class="hero-body">
    <h1 class="title is-primary">Welcome back! Pick your adventure...</h1>
    <p>
      Task details will be presented to you once you select your task. Once selected, you will not be able to change it, and you will have a week to complete it. 
    </p>
  </div>

  <div class="columns">
    <div class="column task">
      <h2>"Simon Says"</h2>
      <p>This is a hardware task. You’ll be getting a hardware kit in the mail, and you’ll be expected to complete the design.</p>

      <span>
        <p>3 ⌛ · Independent · Learning Task</p>
        <p>+6 💎 Available</p>
      </span>

      <img src="https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png" alt="" srcset="" class="task-bg">
      <div class="task-overlay-1"></div>
    </div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</section>