{{#> layout title="Home page"}}

{{#*inline "body"}}
<section class="hero is-link is-large">
  <div class="hero-body">
    <p class="title">
      Tech Roulette
    </p>
    <p class="subtitle">
      Welcome to Tech Roulette!
    </p>
  </div>
</section>
{{/inline}}

{{/layout}}