<div class="page__landing">
    <section id="intro" class="section is-brand">
        <div class="container">
            <h1 class="title"><span class="tech">Tech</span> <span class="roulette">Roulette</span></h1>
            <p class="subtitle">
                <!-- whitespace controlled -->
                {{~#each keywords~}}
                {{#eq @index 0}}
                    {{else}}<span class="comma">, </span>{{/eq}}
                <span class="keyword">{{~this~}}</span>
                {{~/each~}}
            </p>
            <p class="subtitle">
                <a href="/login" class="cta">Register/Login with Discord →</a>
            </p>
        </div>
    </section>
</div>