<div class="page__landing">
    <section class="hero is-large is-brand">
        <div class="hero-body has-text-centered">
            <h1 class="title is-1">Tech Roulette</h1>
            <p>
                Task details will be presented to you once you select your task. Once selected, you will not be able to change it, and you will have a week to complete it.
            </p>
        </div>
    </section>
</div>