{{#extend "title"}}
    Tech Roulette: Explore technology & earn rewards this summer!
{{/extend}}
<div class="page__landing">
    <video class="waves" autoplay playsinline muted loop>
        <source src="/static/videos/waves.webm" type="video/webm">
        <source src="/static/videos/waves.mp4" type="video/mp4">
    </video>
    <section class="section landing">
        <div class="container">
            <div class="intro">
                <h1 class="title is-1">Explore your future in a bold world of technology &ndash; all in your free time
                    <span class="exclaim">!<img class="scribble" src="/static/scribbles/rewards.png" /></span>
                </h1>
                <p class="tagline">
                    Join <span class="field">
                        <ion-icon name="dice-outline" size="large"></ion-icon><span>Tech Roulette</span>
                    </span>, where you can explore different fields of technology like
                    <span class="field">
                        <ion-icon name="hardware-chip-outline" size="large"></ion-icon><span>hardware engineering</span>
                    </span>,
                    <span class="field">
                        <ion-icon name="game-controller-outline" size="large"></ion-icon><span>game design</span>
                    </span>, or
                    <span class="field">
                        <ion-icon name="pulse-outline" size="large"></ion-icon><span>artificial intelligence</span>
                    </span>
                    through building a
                    <span class="field">
                        <ion-icon name="shuffle-outline" size="large"></ion-icon><span>randomly</span>
                    </span>
                    &nbsp;selected project every week for 8 weeks. With
                    <span class="field">
                        <ion-icon name="people-outline" size="large"></ion-icon><span>500 students</span>
                    </span>&nbsp;learning and earning
                    <span class="field">
                        <ion-icon name="diamond-outline" size="large"></ion-icon><span>rewards</span>
                    </span>
                    &nbsp;along with you, you'll discover a whole new world of
                    <span class="field">
                        <ion-icon name="happy-outline" size="large"></ion-icon><span>opportunities</span>
                    </span>.
                </p>
                {{#unless user}}
                    <p class="cta">Register for FREE &mdash; ZERO experience needed!</p>
                {{/unless}}
            </div>
            {{>landing/signup}}
            <div class="fineprint">
                <p>
                    Students under 13 must register with parent consent.
                    We only collect information we need, and we will never share your data with anyone else &ndash; not even sponsors.
                    <a href="https://executebig.org/privacy/?utm_source=TR_Home_Fineprint" target="_blank">Privacy →</a>
                </p>
            </div>
        </div>
    </section>
    <section class="section projects">
        <div class="container">
            <h2 class="title mb-4">
                <ion-icon name="golf-outline" size="large"></ion-icon> <span>Choose From <em>3 Random Projects Every Week
                        <img class="scribble" src="/static/scribbles/just_for_you.png" /></em>.</span>
            </h2>
            <p class="tagline">
                We know it's hard to find out what you are actually interested in through learning engineering at school. The fields that you
                have access to is limited, the content is almost designed to be boring, and you rarely get a chance to apply your knowledge to
                solve real-world problems.
            </p>
            <p class="tagline">
                <em>No more!</em> At Tech Roulette, you'll have access to <em>80+ modules spanning across a huge variety of fields</em>, and you will be supported
                throughout the game by mentors, other students, and writers of these modules.
            </p>
            <div class="samples">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Simon Says</h2>
                            <p class="meta">Hardware</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Pandemic Response</h2>
                            <p class="meta">Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Ship Wreck</h2>
                            <p class="meta">Artificial Intelligence</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Justice Matrix</h2>
                            <p class="meta">Algorithm Ethics</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Animal Farm</h2>
                            <p class="meta">Data Science</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section schedule">
        <div class="container">
            <h2 class="title">
                <ion-icon name="calendar-outline" size="large"></ion-icon> <span>Flexible Weekly Schedule<sup>§</sup>: Learn at <em>Your Own Pace</em>.</span>
            </h2>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Saturday: Project Signups</h3>
                        </div>
                        <div class="column">
                            <p>
                                You'll receive an email that your portal is ready, and 3 random projects gets picked out of our
                                project pool just for you, ranging from hardware projects to ethical technology questions. Pick your favorite
                                &mdash; and don't be afraid to try new things! Oh, and if you find a hardware project, <em>we will literally
                                    mail a complimentary hardware kit to you<sup>†</sup>!</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Throughout the Week: Mentored Time</h3>
                        </div>
                        <div class="column">
                            <p>
                                Once you picked your project of the week, you can get started! Projects are composed of <em>modules</em>, which are
                                one-hour tasks that help you break down the much bigger task. Complete each module your way to receive rewards that
                                you can use to <em>redeem prizes</em>! Mentors will be available throughout the week to answer any technical questions that
                                you may have.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Friday: Finalize & Submit Project</h3>
                        </div>
                        <div class="column">
                            <p>
                                Your project of the week will be due Friday evening at <em>8pm Eastern Time</em>. Submit your project by then to
                                receive rewards for the week! You can submit your project in the form of a video explainer, source code repository, or
                                a write up of your progress. You don't have to finish every module &mdash; <em>we'll reward you for what you have</em>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Friday Evening: Community Night</h3>
                        </div>
                        <div class="column">
                            <p>
                                We'll be hosting a weekly "community night" to get you to know more players of Tech Roulette! These community nights
                                may be presented in the form of a game night, movie livestream, or a guest-hosted fireside chat. Join these events to
                                meet people from all around the world, enter raffles, and <em>win additional rewards</em>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="help">§: Tentative weekly schedule. May be subject to changes.</p>
            <p class="help">†: Resctrictions apply. U.S. residents only.</p>
        </div>
    </section>
    {{!-- <section class="section cta">
    </section> --}}
</div>
{{#notEq env "development"}}
    <!-- no hCaptcha during dev -->
    {{#extend "scripts"}}
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <script>
            function onLogin(token) {
                console.log(token)
                document.getElementById('authForm').submit()
            }

            function validate(event) {
                const input = document.querySelector('#email-input')
                event.preventDefault();

                if (!input.checkValidity()) {
                    input.reportValidity()
                } else {
                    hcaptcha.execute()
                }
            }

            document.getElementById('submit-button').addEventListener('click', validate)
        </script>
    {{/extend}}
{{/notEq}}
