<div class="page__landing">
    <section class="hero is-large is-brand">
        <div class="container">
            <div class="hero-body has-text-centered">
                <h1 class="title is-1">Tech Roulette</h1>
                <form method="post" action="/auth/login">
                    <input class="input" placeholder="email@example.com" name="email" type="email">
                </form>
            </div>
        </div>
    </section>
</div>