{{#extend "title"}}
    Tech Roulette: Explore technology & earn rewards this summer!
{{/extend}}
{{#extend "header-inject"}}
    <!-- Facebook Open Graph tags -->
    <meta property="og:url" content="https://techroulette.xyz" />
    <meta property="og:title" content="Tech Roulette: Explore technology & earn rewards this summer!" />
    <meta property="og:description" content="Tech Roulette is a free game for the summer where you (and 500 students) get the chance to take a leap into fields of technology through a variety of random intro projects while earning rewards and prizes — all in your free time." />
    <meta property="og:image" content="https://techroulette.xyz/static/card.png" />
    <!-- Twitter Card (large image card) tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@executebig">
    <meta name="twitter:title" content="Tech Roulette: Explore technology & earn rewards this summer!">
    <meta name="twitter:description" content="Tech Roulette is a free game for the summer where you (and 500 students) get the chance to take a leap into fields of technology through a variety of random intro projects while earning rewards and prizes — all in your free time." />
    <meta name="twitter:image" content="https://techroulette.xyz/static/card.png" />
{{/extend}}
<div class="page__landing">
    <div class="waves"></div>
    <section class="section landing">
        <div class="container">
            <div class="intro">
                <a href="https://blog.replit.com/executebig" target="_blank">
                    <div class="pill">
                        <span class="pill-text">Read more about Tech Roulette here »</span>
                    </div>
                </a>
                <h1 class="title is-1">Explore your future in a bold world of technology &ndash; all in your free time
                    <span class="exclaim">!<img class="scribble" src="/static/scribbles/rewards.png" /></span>
                </h1>
                <p class="tagline">
                    Join <span class="field">
                        <ion-icon name="dice-outline" size="large"></ion-icon><span>Tech Roulette</span>
                    </span>, where you can explore different fields of technology like
                    <span class="field">
                        <ion-icon name="hardware-chip-outline" size="large"></ion-icon><span>hardware engineering</span>
                    </span>,
                    <span class="field">
                        <ion-icon name="game-controller-outline" size="large"></ion-icon><span>game design</span>
                    </span>, or
                    <span class="field">
                        <ion-icon name="pulse-outline" size="large"></ion-icon><span>artificial intelligence</span>
                    </span>
                    through building a
                    <span class="field">
                        <ion-icon name="shuffle-outline" size="large"></ion-icon><span>randomly</span>
                    </span>
                    &nbsp;selected project every week for 8 weeks. With
                    <span class="field">
                        <ion-icon name="people-outline" size="large"></ion-icon><span>500 students</span>
                    </span>&nbsp;learning and earning
                    <span class="field">
                        <ion-icon name="diamond-outline" size="large"></ion-icon><span>rewards</span>
                    </span>
                    &nbsp;along with you, you'll discover a whole new world of
                    <span class="field">
                        <ion-icon name="happy-outline" size="large"></ion-icon><span>opportunities</span>
                    </span>.
                </p>
                {{#unless user}}
                    <p class="cta">Register for FREE &mdash; ZERO experience needed!</p>
                {{/unless}}
            </div>
            {{>landing/signup button="Register Now!"}}
            <div class="fineprint">
                <p>
                    Students under 13 must register with parent consent.
                    We only collect information we need, and we will never share your data with anyone else &ndash; not even sponsors.
                    <a href="https://executebig.org/privacy/?utm_source=TR_Home_Fineprint" target="_blank">Privacy →</a>
                </p>
            </div>
        </div>
    </section>
    <section class="section projects">
        <div class="container">
            <h2 class="title mb-4">
                <ion-icon name="golf-outline" size="large"></ion-icon> <span>Choose From <em>3 Random Projects Every Week
                        <img class="scribble" src="/static/scribbles/just_for_you.png" /></em>.</span>
            </h2>
            <p class="tagline">
                We know it's hard to find out what you are actually interested in through learning engineering at school. The fields that you
                have access to is limited, the content is almost designed to be boring, and you rarely get a chance to apply your knowledge to
                solve real-world problems.
            </p>
            <p class="tagline">
                <em>No more!</em> At Tech Roulette, you'll have access to <em>80+ modules spanning across a huge variety of fields</em>, and you will be supported
                throughout the game by mentors, other students, and writers of these modules. And it gets better: the modules that you get to choose from every week
                is <em>personalized for you</em>, meaning that it's extremely unlikely for you to complete the same track of projects as another player.
            </p>
            <div class="samples has-horizontal-scroll">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Simon Says</h2>
                            <p class="meta">Hardware</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Pandemic Response</h2>
                            <p class="meta">Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Ship Wreck</h2>
                            <p class="meta">Artificial Intelligence</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Justice Matrix</h2>
                            <p class="meta">Algorithm Ethics</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">Animal Farm</h2>
                            <p class="meta">Data Science</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-text-centered">
                        <div class="has-text-centered">
                            <h2 class="title">... and more!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section schedule">
        <div class="container">
            <h2 class="title">
                <ion-icon name="calendar-outline" size="large"></ion-icon> <span>Flexible Weekly Schedule<sup>§</sup>: Learn at <em>Your Own Pace</em>.</span>
            </h2>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Saturday: Project Signups</h3>
                        </div>
                        <div class="column">
                            <p>
                                You'll receive an email that your portal is ready, and 3 random projects gets picked out of our
                                project pool just for you, ranging from hardware projects to ethical technology questions. Pick your favorite
                                &mdash; and don't be afraid to try new things! Oh, and if you find a hardware project, <em>we will literally
                                    mail a complimentary hardware kit to you<sup>†</sup>!</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Throughout the Week: Mentored Time</h3>
                        </div>
                        <div class="column">
                            <p>
                                Once you picked your project of the week, you can get started! Projects are composed of <em>modules</em>, which are
                                one-hour tasks that help you break down the much bigger task. Complete each module your way to receive rewards that
                                you can use to <em>redeem prizes</em>! Mentors will be available throughout the week to answer any technical questions that
                                you may have.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Friday: Finalize & Submit Project</h3>
                        </div>
                        <div class="column">
                            <p>
                                Your project of the week will be due Friday evening at <em>8pm Eastern Time</em>. Submit your project by then to
                                receive rewards for the week! You can submit your project in the form of a video explainer, source code repository, or
                                a write up of your progress. You don't have to finish every module &mdash; <em>we'll reward you for what you have</em>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card week">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <h3 class="title">Friday Evening: Community Night</h3>
                        </div>
                        <div class="column">
                            <p>
                                We'll be hosting a weekly "community night" to get you to know more players of Tech Roulette! These community nights
                                may be presented in the form of a game night, movie livestream, or a guest-hosted fireside chat. Join these events to
                                meet people from all around the world, enter raffles, and <em>win additional rewards</em>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="help">§: Tentative weekly schedule. May be subject to changes.</p>
            <p class="help">†: Resctrictions apply. U.S. residents only.</p>
        </div>
    </section>
    <section class="section cta">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="card-wrapper has-text-centered">
                        <h3 class="title mb-2">Register Now & Reserve Your Spot!</h3>
                        <p>Tech Roulette starts <em>Saturday, June 26</em>. Register now to reserve your spot in the game and get notified when the game starts!</p>
                        <div class="form-wrapper mt-5">
                            <div class="email-form">
                                <form class="form" method="post" action="/auth/login" id="authForm-cta">
                                    <input id="cta-email-input" class="input" type="text" placeholder="Enter your email" name="email" required="true" />
                                    {{#notEq env "development"}}
                                        <!-- no hCaptcha during dev -->
                                        <div id="hcaptcha" class="h-captcha" data-sitekey="{{../hCaptcha.siteKey}}" data-callback="onCTALogin" data-size="invisible"></div>
                                    {{/notEq}}
                                    <button class="button is-primary" id="cta-submit-button">Go!</button>
                                </form>
                                <div class="fineprint">
                                    <p>
                                        Students under 13 must register with parent consent.
                                        We only collect information we need, and we will never share your data with anyone else &ndash; not even sponsors.
                                        <a href="https://executebig.org/privacy/?utm_source=TR_Home_Fineprint" target="_blank">Privacy →</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{#extend "scripts"}}
                            <script>
                                function onCTALogin(token) {
                                    document.getElementById('authForm-cta').submit()
                                }

                                function validateCTA(event) {
                                    const input = document.querySelector('#cta-email-input')
                                    event.preventDefault();

                                    if (!input.checkValidity()) {
                                        input.reportValidity()
                                    } else {
                                        hcaptcha.execute()
                                    }
                                }

                                document.getElementById('cta-submit-button').addEventListener('click', validateCTA)
                            </script>
                        {{/extend}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/scripts/waves.js"></script>
</div>
