<section class="hero is-large">
  <div class="hero-body">
    <h1 class="title">
      Welcome to Tech Roulette!
    </h1>
    <h2>Log In</h2>
    <a href="/auth/discord" class="button is-primary">
      <img src="/brand/discord-white.png" alt="discord logo" srcset="" class="">
      <p>Sign In Using Discord</p>
    </a>
  </div>
</section>