{{#with data}}
  <div class='page__module'>
    <section class='hero container'>
      <div class='hero-body'>
        <h1 class='title is-1 has-text-primary has-text-weight-bold'>{{title}}</h1>
      </div>
    </section>

    <section class='module container box p-0'>
      <img src='/static/tmp.png' alt='' class='module__img image' />
      <div class='content p-5'>{{{content}}}</div>
    </section>
  </div>
{{/with}}