.tag {
    &.state {
        &.ready, &.rejected {
            background-color: lightsalmon;
        }

        &.onboarding {
            background-color: gold;
        }

        &.inprogress {
            background-color: lightskyblue;
        }

        &.pending {
            background-color: lightpink;
        }

        &.completed, &.accepted {
            background-color: lightgreen;
        }

        &.invited {
            background-color: palegoldenrod;
        }
    }
}
