.page__exchange {
  .card.reward {
    p.price {
      font-family: $family-header;
      font-weight: bold;
      color: $primary;
    }

    img.reward_image {
      max-width: 12rem;
    }

    .card-footer {
      .button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 3rem;

        span.chip {
            transform: translateY(3px);
        }
      }
    }
  }
}
