.page__landing {
  video.waves {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  img.scribble {
    max-width: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .section.landing {
    position: relative;

    .intro {
      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        padding-top: 50px;
        max-width: 80%;
      }

      h1.title {
        color: $primary;
        font-size: 3.5rem;
        padding-bottom: 1rem;

        .exclaim {
          position: relative;
          display: inline-block;
          margin-left: -0.3ch;

          .scribble {
            position: absolute;
            height: 80px;
            top: 30px;
            left: -24px;

            @media screen and (max-width: 768px) {
              height: 65px;
              top: 30px;
            }
          }
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 2;
        margin-bottom: 0.5rem;

        &.tagline {
          color: $hint;
          line-height: 2.2;
          margin-bottom: 1rem;

          em {
            font-style: normal;
            color: $primary;
            font-weight: bold;
          }

          .field {
            display: inline-block;
            font-weight: bold;
            color: $primary;
            font-size: 0;
            margin-bottom: 0;

            ion-icon {
              vertical-align: middle;
              margin-top: -15px;
            }

            span {
              font-size: 1.2rem;
              vertical-align: baseline;
            }
          }
        }

        &.cta {
          font-weight: 900;
          font-size: 1.4rem;
          line-height: 1.5;
          color: $secondary;
        }
      }

      @media screen and (max-width: 1024px) {
        h1.title {
          font-size: 2.2rem;
          line-height: 1.5;
        }

        p {
          font-size: 1rem;

          &.tagline .field span {
            font-size: 1rem;
          }
        }
      }
    }

    .invited_banner {
      .notification {
        background-color: #fff;
        border-radius: 0.5rem;
        border: 2px solid $secondary;
        color: $secondary;
      }

      @media screen and (min-width: 768px) {
        max-width: 55%;
      }
    }

    .fineprint {
      margin-top: 2rem;
      max-width: 40rem;

      p {
        color: $hint;
        font-size: 0.8rem;
      }
    }
  }

  .section.projects {
    h2.title {
      line-height: 1.5;

      em {
        color: $primary;
        font-style: normal;
        position: relative;
        
        .scribble {
          position: absolute;
          height: 90px;
          right: -180px;
          top: -80px;
          transform: rotate(5deg);
          z-index: -1;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 2;
      margin-bottom: 0.6rem;

      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }

      &.tagline {
        @media screen and (min-width: 768px) {
          max-width: 80%;
        }
      }

      em {
        color: $primary;
        font-weight: bold;
        font-style: normal;
      }
    }
  }

  .section.schedule {
    h2.title {
      margin-bottom: 2rem;
      line-height: 1.5;
    }

    em {
      color: $primary;
      font-weight: bold;
      font-style: normal;
    }

    .card.week {
      transition: all 150ms ease;
      margin-bottom: 2rem;

      &:hover {
        border-color: $secondary;

        .card-content .column h3.title {
          color: $secondary;
        }
      }

      .card-content {
        .column {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 5rem;

          h3.title {
            width: 100%;
            font-size: 1.5rem;
            color: $primary;
            transition: all 150ms ease;
          }

          p {
            width: 100%;
            line-height: 1.75;
          }
        }
      }
    }
  }

  .email-form {
    .form {
      max-width: 30rem;
      border: 2px solid $primary;
      padding: 0.3rem;
      display: flex;
      border-radius: 0.5rem;
      transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: $white-offset;
      background-image: $wave-pattern;
      background-repeat: repeat;

      &.is-prefilled {
        display: block;
        background: none;
        border: transparent;
        padding: 0;
        max-width: none;

        input.input {
          display: none;
        }

        button.button {
          margin-top: 1rem;
        }
      }

      input.input {
        box-shadow: none;
        flex-grow: 1;
        overflow: visible;
        border: none;
        outline: none;
        background: none;
        padding: calc(0.3em - 1px) calc(0.75em - 1px);
        font-size: 1rem;
      }

      .button {
        border-radius: 0.5rem;
        white-space: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: bold;

        &:hover {
          transform: none;
        }
      }
    }

    p.hint {
      color: $hint;
      font-size: 0.8rem !important;
      margin-top: 0.3rem;
      padding-left: calc(0.75em - 1px);
    }
  }
}
