.page__landing {
  video.waves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    animation: fadeIn 2s ease both;
    animation-delay: 1s;
  }

  .section.landing {
    position: relative;

    .intro {
      margin-bottom: 2rem;
      opacity: 0;
      animation: fadeInUp 0.6s ease both;
      animation-delay: 0.5s;

      @media screen and (min-width: 768px) {
        padding-top: 100px;
        max-width: 80%;
      }

      @keyframes fadeInUp {
        0% {
          transform: translateY(5rem);
          opacity: 0;
        }


        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      h1.title {
        color: $primary;
        font-size: 3.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 2;
        margin-bottom: 0.5rem;

        &.tagline {
          color: $hint;

          em {
            font-style: normal;
            color: $primary;
            font-weight: bold;
          }

          .field {
            display: inline;
            font-weight: bold;
            color: $primary;
            font-size: 0;

            ion-icon {
              vertical-align: middle;
              margin-top: -15px;
            }

            span {
              font-size: 1.2rem;
              vertical-align: baseline;
            }
          }
        }

        &.cta {
          font-weight: 900;
          font-size: 1.4rem;
          line-height: 1.5;
          color: $secondary;
        }
      }

      @media screen and (max-width: 1024px) {
        h1.title {
          font-size: 2.2rem;
          line-height: 1.5;
        }

        p {
          font-size: 1rem;

          &.tagline .field span {
            font-size: 1rem;
          }
        }
      }
    }

    .email-form {
      max-width: 30rem;
      animation: fadeIn 0.6s ease both;
      animation-delay: .8s;
      opacity: 0;

      .form {
        border: 2px solid $primary;
        padding: 0.3rem;
        display: flex;
        border-radius: 0.5rem;
        transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: $white-offset;
        background-image: $wave-pattern;
        background-repeat: repeat;

        input.input {
          box-shadow: none;
          flex-grow: 1;
          overflow: visible;
          border: none;
          outline: none;
          background: none;
          padding: calc(0.3em - 1px) calc(0.75em - 1px);
          font-size: 1rem;
        }

        .button {
          border-radius: 0.5rem;
          white-space: nowrap;
          padding-left: 1rem;
          padding-right: 1rem;
          font-weight: bold;

          &:hover {
            transform: none;
          }
        }
      }

      p.hint {
        color: $hint;
        font-size: 0.8rem !important;
        margin-top: 0.3rem;
        padding-left: calc(0.75em - 1px);
      }
    }

    .fineprint {
      margin-top: 2rem;
      max-width: 40rem;
      animation: fadeIn 0.6s ease both;
      animation-delay: .8s;
      opacity: 0;

      p {
        color: $hint;
        font-size: 0.8rem;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
