.page__modules {
  .modules {
    position: relative;

    // flex: 1;
    display: inline-flex;
    // flex-wrap: wrap;
    overflow-x: scroll;

    color: white;

    &--required {
      gap: 24px;

      .module {
        width: 400px;
        height: 200px;

        background: radial-gradient(circle at bottom right, rgba($primary, 0.5), $primary 20%);

        h2 {
          font-size: 1.8rem;
          font-weight: bold;

          text-shadow: 0 2px 4px rgba(black, 0.25);
        }
      }
    }

    &--optional {
      gap: 18px;

      .module {
        width: 350px;
        height: 180px;

        background-color: rgba($primary, 0.75);

        h2 {
          font-size: 1.4rem;
          font-weight: bold;

          text-shadow: 0 2px 4px rgba(black, 0.25);
        }
      }
    }
  }
}

.module {
  box-sizing: border-box;
  padding: 24px 32px;

  border-radius: 20px;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;

    p {
      font-weight: 500;
    }

    &__bottom {
      display: flex;
      align-items: center;

      position: absolute;
      bottom: 0;

      width: 100%;

      * {
        font-size: 1.1rem;
      }

      *:first-child {
        margin-right: auto;
      }

      button {
        color: white;
        background: none;
        border: none;
        padding-left: 0;
      }

      button,
      p {
        font-weight: bold;
      }
    }
  }
}
