html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid $primary;
}

.layout {
  padding: 0;
  margin: 0;

  > .column {
    padding: 0;
  }
}
