<section class="section header">
    <div class="container">
        <h1 class="title">Welcome to Tech Roulette!</h1>
        <p>We're so, so, so excited to have you here. Tell us a little more about yourself, so we can help you get the most out of Tech Roulette!</p>
    </div>
</section>

<section class="section information">
    
</section>
