.page__modules__list {
  .hero-body > .container {
    .hero-img {
      width: 100%;
      height: 220px;

      object-fit: cover;
    }
  }

  .card {
    &.optional {
      border-style: dashed;
    }

    .card-header {
      .card-header-chip {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 0.75rem;
        color: gray;
        font-weight: 800;

        &.accepted {
          color: $primary;
          span.chip {
            filter: grayscale(0);
          }
        }

        span.chip {
          transform: translateY(3px);
          filter: grayscale(1);
        }
      }
    }

    .card-content {
      h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }

    .card-footer {
      border-color: transparent;

      .button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 3rem;

        ion-icon {
          font-size: 20px;
        }
      }
    }
  }
}
