.page__modules__single {
  .hero-image {
    width: 100%;
    height: 350px;

    object-fit: cover;
  }

  .card {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    min-height: 400px;

    .card-content {
      flex: auto;
    }

    .card-footer-item {
      justify-content: flex-start;
    }
  }

  .icon-field {
    ion-icon {
      font-size: 1.5rem;

      + * {
        margin-left: 3px;
      }
    }
  }

  .blinker {
    margin-right: 5px;

    &.active {
      animation: blinker 2s linear infinite;

      @keyframes blinker {
        25%, 75% { opacity: 1; }
        50% { opacity: 0; }
      }
    }
  }
}
