.page__modules__single {
  .hero-image {
    width: 100%;
    height: 350px;

    object-fit: cover;
  }

  .card {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    min-height: 400px;

    .card-content {
      flex: auto;
    }

    .card-footer-item {
      justify-content: flex-start;
    }
  }

  .module {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    min-height: 400px;

    &__inner {
      height: 100%;
      position: relative;

      box-sizing: border-box;
      padding-bottom: 48px;

      &__bottom {
        display: flex;
        position: absolute;

        bottom: 0;
        width: 100%;

        *:first-child {
          margin-right: auto;
        }
      }
    }
  }
}
