<footer class="footer">
  <div class="container">
    <div class="tr-branding">
      <ion-icon name="dice-outline" size="large"></ion-icon>
      <span>Tech Roulette</span>
    </div>
    <p>Program offered by 
      <a href="https://executebig.org/?utm_source=TR_Footer" target="_blank">Execute Big</a>,
       a 501(c)(3) non-profit (EIN 85-2160468). Supported by <a href="https://replit.com/?utm_source=Tech_Roulette_Footer" target="_blank" rel="noopener">Replit Ventures</a>. </p>
    <ul>
      <li><a href="https://executebig.org/conduct?utm_source=TR_Footer" target="_blank">Conduct</a></li>
      <li><a href="https://executebig.org/privacy?utm_source=TR_Footer" target="_blank">Privacy</a></li>
      <li><a href="https://executebig.org/techroulette/rules?utm_source=TR_Footer" target="_blank">Rules</a></li>
      <li>|</li>
      <li>Contact: <a href="mailto:hi@techroulette.xyz" target="_blank">hi@techroulette.xyz</a></li>
    </ul>
    <br />
    <ul>
      <li>We stand in solidarity with</li>
      <li><a href="https://blacklivesmatters.carrd.co/" target="_blank" rel="noopener">Black Lives Matter</a></li>
      <li><a href="https://helpinglgbt.carrd.co/" target="_blank" rel="noopener">Pride</a></li>
      <li><a href="https://stopasianhate.carrd.co/" target="_blank" rel="noopener">Stop Asian Hate</a></li>
    </ul>
  </div>
</footer>
