<footer class="footer">
  <div class="container">
    <div class="tr-branding">
      <ion-icon name="dice-outline" size="large"></ion-icon>
      <span>Tech Roulette</span>
    </div>
    <p>Program offered by 
      <a href="https://executebig.org/?utm_source=TR_Footer" target="_blank">Execute Big</a>,
       a 501(c)(3) non-profit (EIN 85-2160468).</p>
    <ul>
      <li><a href="https://executebig.org/conduct?utm_source=TR_Footer" target="_blank">Conduct</a></li>
      <li><a href="https://executebig.org/privacy?utm_source=TR_Footer" target="_blank">Privacy</a></li>
      <li>|</li>
      <li>Contact: <a href="mailto:roulette@executebig.org" target="_blank">roulette@executebig.org</a></li>
    </ul>
  </div>
</footer>
