<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item tr-branding" {{#if user}}href="/dash"{{else}}href="/"{{/if}}>
                <div class="tr-branding">
                    <ion-icon name="dice-outline" size="large"></ion-icon>
                    <span>Tech Roulette</span>
                </div>
            </a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>
            <div class="navbar-end">
                {{#unless hide_auth}}
                    {{#if user }}
                        {{#notEq user.state "onboarding"}}
                            <p class="navbar-item">
                                @{{../user.display_name}}
                            </p>
                        {{/notEq}}

                        <a class="navbar-item" href="/auth/logout">
                            Log Out
                        </a>
                    {{else}}
                        <a class="button" href="/login">
                            Log In
                        </a>
                    {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</nav>
