<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item tr-branding" {{#if user}}href="/dash" {{else}}href="/" {{/if}}>
                <div class="tr-branding">
                    <ion-icon name="dice-outline" size="large"></ion-icon>
                    <span>Tech Roulette</span>
                </div>
            </a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>
            <div class="navbar-end">
                {{#unless hide_auth}}
                    {{#if user }}
                        {{#notEq user.state "onboarding"}}
                            <div class="navbar-item has-dropdown is-hoverable">
                                {{!-- <a class="navbar-link" href="/account"> --}}
                                <a class="navbar-link" href="#!">
                                    @{{../user.display_name}}
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="/account/invite">
                                        Invite Friends
                                    </a>
                                    <a class="navbar-item" href="/account/redeem">
                                        Redeem Code
                                    </a>
                                    {{#if ../user.admin}}
                                    <a class="navbar-item admin" href="/admin">
                                        Admin Panel
                                    </a>
                                    {{/if}}
                                    <a class="navbar-item" href="/auth/logout">
                                        Log Out
                                    </a>
                                </div>
                            </div>
                        {{else}}
                            <a class="navbar-item" href="/auth/logout">
                                Log Out
                            </a>
                        {{/notEq}}
                    {{else}}
                        <a class="button" href="/login">
                            Log In
                        </a>
                    {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</nav>
