{{#extend "title"}}Dashboard{{/extend}}

<section class="section header">
    <h1 class="title">Admin Dashboard</h1>
</section>

<section class="section">
    <h1 class="title is-4">Statistics</h1>
</section>
