{{#extend 'title'}}
    Stage Control
{{/extend}}
<section class='section header'>
    <h1 class='title'>Stage Control</h1>
</section>
<section class='section'>
    <form method='POST'>
        <div class='field'>
            <label class='label'>Embed URL</label>
            <div class='control'>
                <input class='input' name='liveUrl' type='text' value='{{liveUrl}}' />
            </div>
        </div>
        <div class='field'>
            <label class='label'>Event Name</label>
            <div class='control'>
                <input class='input' name='eventName' type='text' value='{{eventName}}' />
            </div>
        </div>
        <div class='field is-grouped'>
            <div class='control'>
                <button type='submit' class='button is-link'>Save</button>
            </div>
            <div class='control'>
                <button type='submit' formaction="?reset=true" class='button is-light'>Clear</button>
            </div>
        </div>
    </form>
</section>
