{{#extend "title"}}
    Exchange Offline
{{/extend}}
<div class="page__exchange">
    <section class="section header pb-3">
        <div class="container has-text-centered">
            <h1 class="title mb-2">Roulette Exchange isn't ready yet.</h1>
            <p>We're restocking the shelves right now. Please check back later!</p>
            <a href="/exchange/orders" class="button is-primary mt-5">View Past Orders</a>
        </div>
    </section>
</div>
