{{#with data}}
  <div class='page__modules__single'>
    <section class='hero container'>
      <div class='hero-body'>
        <h1 class='title is-1 pb-3 has-text-primary has-text-weight-bold'>{{title}}</h1>
        <h2 class='subtitle has-text-primary has-text-weight-semibold'>Week {{../user.current_week}} — “Simon Says” ·
          Required Module</h2>
      </div>
    </section>

    <section class="section">
      {{>module}}
    </section>
  </div>
{{/with}}