<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="icon" href="/static/brand/icon-blue.png" />
    <title>{{block "title"}}{{#unless titleOverride}} – Tech Roulette{{/unless}}</title>
    {{#extend "title"}}{{../title}}{{/extend}}
</head>

<body>
    <div class="layout">
        {{> navbar }}
        {{{body}}}
        {{> flash}}
    </div>
    {{> footer }}
    {{> tracking }}

    {{#if user}}
    <script src="/static/scripts/research.js"></script>
    {{/if}}

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js" async></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js" async></script>
    {{{block "scripts"}}}
</body>

</html>
